*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    margin-left: 200px;
    margin-top: 50px;
    margin-bottom: 40px;
}

.heading{
    font-size: 40px;
    font-weight: bold;
    margin-left: 20px ;
    margin-top:30px;
    
}

 input, select{
    margin: 20px;
    margin-left: 150px;
    font-size: 20px;
    padding: 10px 30px;
    background-color: rgb(8, 8, 8);
    color: white;
    border-radius: 30px;
}
.historycon{
    display: none;

}

.section2{
    display: flex;
    justify-content: center;
}

.box1 label, .box2 label{
    font-size: 20px; 
}

.box1 input, .box2 select{
    margin-left: -10px; 
}

.inputBox1{
    margin-left: 350px;
    background: rgb(205, 205, 202);
    width: 50%;
    height: 200px;
    font-size: 30px;
   border-radius: 10px;
}
.historycon{
    margin-left: 350px;
    background: rgb(205, 205, 202);
    width: 50%;
    height: 200px;
    border-radius: 10px;
}
#deleteBtn{
    margin-left: 1110px;
    margin-top: -30px;
}
.inputBox2{
    margin-left: 350px;
    margin-top: -150px;
}


